.legend {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid gray;
  border-radius: 10px;
}

.legend .heading {
  font-size: 130%;
  font-weight: bold;
}

.legend .nowrap {
  white-space: nowrap;
}

.legend a {
  font-size: 90%;
}

.legend-row {
  display: flex;
  font-size: 90%;
}

.legend-box {
  width: 20px;
  height: 20px;
}
