<div id="map-container" class="map-container">
  <div class="basemap" id="basemap"></div>

  <div *ngIf="isShowMenu" class="modal-container container-left-bottom">
    <app-legend [layer]="mapLegendLayer" [visible]="mapLegendVisible" (close)="mapLegendVisible = false"></app-legend>

    <app-layer-control
      [layers]="layers"
      (toggleLayer)="toggleLayer()"
      (showInfo)="showMapLegend($event)"
    >
    </app-layer-control>
  </div>


  <div *ngIf="isShowMenu" class="modal-container-right container-right-top">
    <app-file-setting
            (mapSettings)="mapSettingsListener($event)"
    ></app-file-setting>
  </div>


  <app-chart-menu *ngIf="isShowMenu && isShowChart"></app-chart-menu>

  <app-edit-menu
    *ngIf="isEditMenu"
    [currentCell]="selectedGridCell"
    style="position: absolute"
    [style.top.px]="sliderTop"
    [style.left.px]="sliderLeft"
    (menuOutput)="handleMenuOutput($event)"
    (dismissMenu)="hideMenu($event)"
  >
  </app-edit-menu>

  <div *ngIf="isShowMenu" class="modal-container-left container-left-top">
    <app-map-setting
      (mapSettings)="mapSettingsListener($event)"
    ></app-map-setting>
  </div>

  <div #featureHoverTooltip
    class="feature-hover-tooltip"
    [hidden]="!isShowHoverInfo"
    [style.top.px]="clientXY.y - 35"
    [style.left.px]="clientXY.x + 25">
    <ng-container *ngIf="hoverInfoFeature">
        <small>{{hoverInfoFeature.properties.name}}</small>
    </ng-container>
  </div>
</div>
