<div id="map-container" class="map-container">
  <div class="basemap" id="basemap"></div>

  <div class="modal-container container-left-bottom">
    <!--<app-legend [layer]="mapKeyLayer" [visible]="mapKeyVisible" (close)="mapKeyVisible = false"></app-legend>-->
    <app-layer-control [layers]="layers" (toggleLayer)="toggleLayer()" (showInfo)="showMapKey($event)"></app-layer-control>
  </div>

  <div class="modal-container-left container-left-top">
    <app-map-setting (mapSettings)="mapSettingsListener($event)"></app-map-setting>
  </div>
</div>
