.app-container {
  height: 100%;
  width: 100%;
}

#basemap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#basemap
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
#basemap .mapboxgl-canvas-container {
  position: absolute;
}

#basemap
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  canvas,
#basemap .mapboxgl-canvas-container canvas {
  position: relative;
}

.modal-container {
}

.container-left-bottom {
  position: absolute;
  bottom: 30px;
  left: 5px;
}

.container-left-top {
  position: absolute;
  top: 30px;
  left: 5px;
}

.container-right-top {
  position: absolute;
  top: 30px;
  right: 5px;
}

