<div class="modal-container-left container-right-top map-control-element"
     (click)="closeAndLogout()">

    <i class="material-icons menu-icons white"
       matTooltipPosition="right"
       matTooltip="Log out and go to main menu">close</i>
</div>

<div class="modal-container-left container-right-top map-control-element save"
     (click)="resetGrid()">

    <i class="material-icons menu-icons white"
       matTooltipPosition="right"
       matTooltip="Reset grid">first_page</i>
</div>

<div class="modal-container-left container-right-top map-control-element save"
     (click)="saveCurrentChanges()">

    <i class="material-icons menu-icons white" id="run-analyses"
       matTooltipPosition="right"
       matTooltip="Save changes and run analyses">save</i>
</div>
