@import "../../../variables.scss";

.d3-tip {
  background-color: rgba(255, 255, 255, 1);
  padding: 2px;
  font-size: 11px;
  border-radius: 2px;
  span {
    float: right;
  }
}

#chart-menu {
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 35px;
  left: 70px;
  padding-bottom: 5px;

  .d3-chart {
    // width: 100%;
    // height: 100%;
  }

  .title {
    color: white;
    padding: 10px;
    font-weight: bold;
  }

  .info {
    color: lightgrey;
    padding: 10px;
    font-size: 9px;
  }

  .d3-chart .axis path,
  .d3-chart .axis line {
    stroke: white;
  }

  .d3-chart .axis text {
    fill: white;
  }

  .footer {
    color: red;
    width: 100%;
    margin-top: 5px;
    text-align: left;
    font-size: 11px;
    margin-left: 15px;

    #spinner {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}