<div class="layer-control map-control-element">
  <span class=" nowrap">
    <span class="heading">Layers</span>&nbsp;
    <a
            class="collapse-button"
            (click)="collapsedMain = !collapsedMain"
            href="javascript:void(0)"
    >
      <i *ngIf="collapsedMain" class="icon-info material-icons menu-icons white"
      >expand_less</i
      >
      <i *ngIf="!collapsedMain" class="icon-info material-icons menu-icons white"
      >expand_more</i
      >
    </a>
  </span>
    <ul *ngIf="!collapsedMain" class="layer-list">
        <li *ngFor="let layer of layers">
            <label *ngIf="layer.showInLayerList">
                <i *ngIf="layer.legend"
                        class="icon-info material-icons menu-icons white"
                        (click)="onShowInfo($event, layer)"
                        matTooltipPosition="right"
                        matTooltip="Legend could be displayed on click"
                >info</i>
                <input  *ngIf="layer.groupedLayers.length === 0"
                        type="checkbox"
                        [checked]="layer.visible"
                        (change)="onToggleLayer(layer)"
                />
                {{ layer.displayName }}
                <a *ngIf="layer.groupedLayers.length > 0"
                        class="collapse-button"
                        (click)="onCollapseGroupedLayer($event, layer)"
                        href="javascript:void(0)"
                >
                    <i *ngIf="isLayerGroupOpened(layer)" class="icon-info material-icons menu-icons white"
                    >expand_less</i
                    >
                    <i *ngIf="!isLayerGroupOpened(layer)" class="icon-info material-icons menu-icons white"
                    >expand_more</i
                    >
                choose
                </a>
            </label>

            <ul *ngIf="layer.groupedLayers.length > 0 && isLayerGroupOpened(layer)">
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <ng-container *ngFor="let sublayer of layer.groupedLayers">
                        <mat-button-toggle aria-label="Walking" (change)="onSwitchSubLayer(layer.id, sublayer)">
                            <img #strtypeicon src="{{ getIconForLayerId(sublayer.id) }}" alt="walkability_icon" height="30px"/>
                            <mat-spinner *ngIf="layer.isLoading" [diameter]="15">
                            </mat-spinner>
                        </mat-button-toggle>
                    </ng-container>
                </mat-button-toggle-group>
                <span>
                    <mat-radio-group>
                        <ng-container *ngFor="let subResult of layer.subResults">
                             <mat-radio-button
                                     [checked]="(subResult['id'] == selectedSubResults[layer.id]) && (layer.groupedLayers.indexOf(selectedSublayers[layer.id]) != -1)"
                                     [value]="subResult['id']"
                                     (change)="onSwitchSubResult(layer, subResult['id'])">
                                 {{ subResult['label'] }}
                             </mat-radio-button>
                        </ng-container>
                    </mat-radio-group>
                </span>
            </ul>
        </li>
    </ul>
</div>
