.layer-control {
  padding: 5px !important;
}

.layer-control .heading {
  font-size: 130%;
  font-weight: bold;
}

.layer-control .nowrap {
  white-space: nowrap;
}

.layer-control a {
  font-size: 90%;
}

.layer-control ul,
.layer-control label {
  margin: 0;
}

.layer-control li {
  list-style: none;
  line-height: 175%;
  user-select: none;
}

.layer-control .icon-info {
  height: 16px;
  vertical-align: text-bottom;
  font-size: 15px;
  margin-left: 5px;
  padding-top: 2px;
}

.collapse-button {
  color: black;
}
