<div id="imprint-background">

<div class="imprint-content">

      <div class="first-header">Imprint and Privacy Statement</div>

      <div class="imprint-button">
        <a [routerLink]="['../']">Back to home</a>
      </div>

      <div class="imprint-text">
        <h1>Impressum</h1>
        <h3>Angaben gemäß § 5 TMG</h3>
        <p>HafenCity Universität Hamburg<br>Überseeallee 16,<br>20457 Hamburg</p>
        <p><strong>Vertreten durch:</strong>  </p>
        <h3>Kontakt</h3>
        <p>Prof. Dr. Jörg Noennig, CityScienceLab, HafenCity Universität Hamburg<br></p>

        <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>
        <p>Prof. Dr. Jörg Noennig</p>
        <h3>Haftung für Inhalte</h3>
        <p>Das Angebot der HCU Hamburg besteht aus eigenen und fremden Inhalten.
          Bezüglich eigener Inhalte besteht eine inhaltliche Verantwortlichkeit
          seitens der HCU Hamburg. Bezüglich fremder Inhalte wird keine Gewähr für
          die Richtigkeit übernommen und jede Haftung ausgeschlossen. Für
          Internetseiten Dritter, auf die durch Hyperlink verwiesen wird, tragen
          die jeweiligen Anbieter die Verantwortung. Die HCU Hamburg hat keinen
          Einfluss auf Inhalt und Gestaltung der verlinkten Seiten und übernimmt
          keine Verantwortung für diese Seiten. Dies gilt ebenso für Hyperlinks,
          die von Webseiten Dritter auf die Plattform der HCU Hamburg führen.Das
          Layout der Homepage, die verwendeten Grafiken sowie die Sammlung der
          Beiträge sind urheberrechtlich geschützt. Die Seiten dürfen nur zum
          privaten Gebrauch   vervielfältigt, Änderungen nicht vorgenommen und
          Vervielfältigungsstücke ohne Genehmigung nicht verbreitet werden. Die
          einzelnen Beiträge sind ebenfalls urheberrechtlich geschützt.</p>
        <p>
          Diese Online-Plattform wurde für die Teilnehmer des Grasbrook-Wettbewerbs entwickelt.
          Die Plattform bietet eine grobe und schnelle Bewertung von städtebaulichen Qualitäten, wie zum Beispiel
          Lärmbelastung und fußläufige Erreichbarkeiten für eine rasterbasierte Version des Wettbewerbsbereichs.
          Das Tool konzentriert sich auf die schnelle Analyse von städtebaulichen Iterationen auf der Grundlage einer vereinfachten Eingabe.
          Die angegebenen Ergebnisse ersetzen keine eingehenden Analysen.
          Die Plattform und ihre Analysemodule befinden sich derzeit in der Testphase und werden ständig weiterentwickelt.
          Die wissenschaftliche Validität der Ergebnisse kann in den Testphasen nicht garantiert werden.
        </p>

        <br>
        <h1>Datenschutzerklärung</h1>
        <p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:</p>
        <p>Prof. Dr. Jörg Noennig, CityScienceLab, HafenCity Universität Hamburg</p>
        <h3>Ihre Betroffenenrechte</h3>
        <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
        <ul>
          <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
          <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
          <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
          <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
          <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
          <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
        </ul>
        <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
        <p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.</p>
        <p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel="nofollow noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns Ihren Namen, Ihre E-Mail-Adresse und den Grund der Anfrage mitteilen.</p>
        <p></p><h3>SSL-Verschlüsselung</h3>
        <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
        <p></p><h3>Änderung unserer Datenschutzbestimmungen</h3>
        <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
        <h3>Mapbox</h3>
        <p>Zur Darstellung aller Karten und einiger kartenbasierten Inhalten nutzen wir Mapbox. Datenschutzhinweise von Mapbox finden Sie unter:
          <a href="https://www.mapbox.com/privacy/" target="_blank" rel="nofollow noopener">https://www.mapbox.com/privacy/</a>
        </p>
        <h3>MIT Media Lab</h3>
        <p>Die Speicherung der eingebenen Kartendaten, sowie der zugehörigen Berechnungsergebnisse erfolgt über einen Service unseres Kooperationspartners dem MIT Media Lab, in Boston MA.
          <a href="https://www.media.mit.edu/groups/city-science/overview/" target="_blank" rel="nofollow noopener">MIT Media Lab</a>
        </p>
        <h3>Fragen zum Datenschutz</h3>
        <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail.</p>
      </div>
  </div>


</div>
