
/*
  Color definitions
*/

$menu-background: rgba(255, 255, 255, 0.8);
$accent-color: rgba(255, 64, 129, 1.0); // #FF4081


/*
  Size definitions
*/

$screen-sm-width: 400px;
$screen-menu-change-height: 830px;


