<div id="splash-image">
  <div class="content">
    <div class="first-header">CityScope</div>
    <div class="second-header">
      Gras-
    </div>
    <div class="second-header">
      brook
    </div>

    <div class="menu" id="menu">
      <ng-container *ngIf="loginStatus; else loggedOut">
          <a [routerLink]="['map']">Editor</a>
          <a class="logout" (click)="logout()">Logout</a>
      </ng-container>
      <ng-template #loggedOut>
          <a (click)="login()">Login</a>
      </ng-template>
    </div>
  </div>

  <div class="gradient"></div>
</div>
