#cell-menu {
  position: absolute;
  /* padding: 1px; */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);

  mat-expansion-panel {

    mat-radio-group {
      float: right;
    }

    mat-expansion-panel-header {
      padding: 0 10px !important;

      mat-panel-title {
        margin-right: 10px !important;
      }

      mat-panel-description {
        justify-content: flex-end;
        margin-right: 0 !important;

        mat-icon {
          margin-left: 5px;
        }
      }
    }

    mat-checkbox {
      margin-left: 15px;
    }

    mat-radio-button {
      margin-left: 15px;
    }
  }



  span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
  }

  .close {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
  }
}
