<div id="cell-menu">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle [expanded]="cell.type === 0" (afterExpand)="onChangeSetCellType($event, 0)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Building
                </mat-panel-title>
                <mat-panel-description>
                    Edit building properties
                    <mat-icon>house</mat-icon>
                    <!--<mat-icon>location_city</mat-icon>-->
                </mat-panel-description>
            </mat-expansion-panel-header>


            <section class="checkbox-holder">
                <label>Number of stories</label>
                <mat-slider
                        style="width: 250px"
                        [max]="20"
                        [min]="1"
                        [step]="1"
                        [(ngModel)]="cell.bld_numLevels"
                        [thumbLabel]="true"
                        (change)="onChangeSlider($event)">
                </mat-slider>
            </section>

            <mat-form-field>
                <mat-label>Ground floor</mat-label>
                <mat-select [(ngModel)]="cell.bld_useGround"
                            (selectionChange)="onChangeSetCellType($event, 0)">
                    <mat-option [value]="0">Residential</mat-option>
                    <mat-option [value]="1">Commercial</mat-option>
                    <mat-option [value]="2">Office</mat-option>
                    <mat-option [value]="3">Educational</mat-option>
                    <mat-option [value]="4">Culture - Sports - Community</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Upper floor</mat-label>
                <mat-select [(ngModel)]="cell.bld_useUpper"
                            (selectionChange)="onChangeSetCellType($event, 0)"
                            [disabled]="sliderDisabled">
                    <mat-option [value]="0">Residential</mat-option>
                    <mat-option [value]="1">Commercial</mat-option>
                    <mat-option [value]="2">Office</mat-option>
                    <mat-option [value]="3">Educational</mat-option>
                    <mat-option [value]="4">Culture - Sports - Community</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle  [expanded]="cell.type === 1" (afterExpand)="onChangeSetCellType($event, 1)">
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title>
                    Street
                </mat-panel-title>
                <mat-panel-description>
                    Edit street properties
                    <mat-icon>local_movies</mat-icon>
                    <!--<mat-icon>directions_car</mat-icon>-->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <section class="input-holder">
                <mat-form-field class="form-field">
                    <input matInput [(ngModel)]="cell.str_numLanes" type="number" placeholder="Number of car lanes"
                           (change)="onChangeSetCellType($event, 1)">
                </mat-form-field>
            </section>

            <section class="radio-holder">
                <label>Speed limit</label>
                <mat-radio-group [(ngModel)]="cell.str_speed"
                                 (change)="onChangeSetCellType($event, 1)">
                    <mat-radio-button [value]="7">7</mat-radio-button>
                    <mat-radio-button [value]="30">30</mat-radio-button>
                    <mat-radio-button [value]="50">50</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="radio-holder">
                <label>Bicycles allowed</label>
                <mat-radio-group [(ngModel)]="cell.str_bike"
                                 (change)="onChangeSetCellType($event, 1)">
                    <mat-radio-button [value]="true"[checked]='true'>Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="radio-holder">
                <label>Stairs</label>
                <mat-radio-group [(ngModel)]="cell.str_stairs"
                                 (change)="onChangeSetCellType($event, 1)">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false"[checked]='true'>No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="radio-holder">
                <label>Pedestrian ramp</label>
                <mat-radio-group [(ngModel)]="cell.str_ramp"
                                 (change)="onChangeSetCellType($event, 1)">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false"[checked]='true'>No</mat-radio-button>
                </mat-radio-group>
            </section>

            <section class="radio-holder">
                <label>Elevator</label>
                <mat-radio-group [(ngModel)]="cell.str_elevator"
                                 (change)="onChangeSetCellType($event, 1)">
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false" [checked]='true'>No</mat-radio-button>
                </mat-radio-group>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle  [expanded]="cell.type === 2" (afterExpand)="onChangeSetCellType($event, 2)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Open space
                </mat-panel-title>
                <mat-panel-description>
                    Set Amenities
                    <mat-icon>store_mall_directory</mat-icon>
                    <!--<mat-icon>category</mat-icon>-->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Open space type</mat-label>
                <mat-select [(ngModel)]="cell.os_type" (selectionChange)="onChangeSetCellType($event, 2)">
                    <mat-option [value]="0">Green space</mat-option>
                    <mat-option [value]="1">Promenade</mat-option>
                    <mat-option [value]="2">Athletic field</mat-option>
                    <mat-option [value]="3">Playground</mat-option>
                    <mat-option [value]="4">Daycare (Kita) playground</mat-option>
                    <mat-option [value]="5">Schoolyard</mat-option>
                    <mat-option [value]="6">Exhibition space</mat-option>
                    <mat-option [value]="7">Recycling center</mat-option>
                    <mat-option [value]="8">Water</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="bottom-menu">
        <div class="row">
            <div class="col-md-4">
                <button mat-button (click)="onCancel()">
                    Cancel
                </button>
            </div>
            <div class="col-md-4" (click)="onPreview()">
                <!--<button mat-button>-->
                    <!--Preview-->
                <!--</button>-->
            </div>
            <div class="col-md-4" (click)="onSave()">
                <button mat-button>
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>